.image_part2{
    margin: 20px;
    display: flex;
    grid-template-rows: auto auto auto auto ;
  
  }
  .image_part2 > div{
    padding: 10px;
     margin-right: 10px;
    
  }
  .caption{
    display: flex;
    grid-template-columns: auto 20%;
  }
  .caption > div{
    margin: 10px;
    font-family: myFirstFont;
  }
  