fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    position: relative;
    left: 40%;
  }
button{
    background-color: rebeccapurple;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 10px;
    margin-top: 4%;
    margin-left: 48.5%;
}
#err_message{
  text-align: center;
  color: red;
}