html {
  margin: 20px;
}

@import url('https://fonts.cdnfonts.com/css/ostrich-sans-2');
body {
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
}

.logo{
  float: right;
}
.task_bar{
  margin: -30px;
  display: flex;
  background-color: rebeccapurple;
  align-items:inherit;
}
.task_bar > div > a{
  text-decoration: none;
  
  color: #FDD700;
  padding: 10px;
  width: auto;
  position: relative;
  top: 10%;
  font-family: "Ostrich Sans Inline" ;
  font-size: 40px;
  font-weight:lighter ; 
}
.task_bar > div:hover{
  background-color: white;
}







